:root {
  --width: 150px;
  --min-width: 150px;
  --max-width: 150px;
}

.view {
  margin: auto;
  width: 600px;
}

.wrapper {
  position: relative;
  overflow: auto;
  border: 1px solid black;
  white-space: nowrap;
}

.sticky-col {
  position: sticky;
  left: 300px;
  background-color: white;
}

.first-col {
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  left: 0px;
}

.second-col {
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  left: 150px;
  border-right: 1px solid black;
}

td,
th {
  text-align: right;
}

td:not(.sticky-col),
th:not(.sticky-col) {
  background-color: aqua;
}
